# Copy this file to .env and add your actual API keys.

# AI MODEL API KEYS.
GOOGLE_API_KEY=
GROQ_API_KEY=

# OPIK TRACKING.
OPIK_PROJECT_NAME=
COMET_API_KEY=
OPIK_TRACK_DISABLE=True

# PROJECT DIRECTORIES.
ACE_PARSE_DIR=./parse
ACE_LOG_DIR=./logs
ACE_EPOCHS_DIR=./logs/epochs

# PROJECT FILES.
ACE_RUBRIC_FILE=parse/internship.enhance_b2_article_writing_rubric_structured.pdf
ACE_EXAMPLES_FILE=parse/debug_batch_4_examples.pdf
